/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2021, 18:43:20
    Author     : User
*/

div.dataTables_wrapper {
    margin-bottom: 3em;
}

td{    
    text-align: center;
}

h1,h2,h3,h4{
    border-collapse: collapse;
    border: lavender;
}

.puntuacion , .puntuacion-st{
    width: 2%;
    margin: 0.1%;
}

nav{
    width: 100%;
    position: absolute !important;
    top:0 !important;
    left:0 !important;
}

#conocenos{
    padding-left: 25%;
}
#lista{
    padding-left: 25%;
}

#foto_inmueble{
    width: 20%;
}

main{
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.campana{
    width: 3% !important;
    margin: 0.1%;
}
.corazon{
    width: 3% !important;
    margin: 0.1%;
}
#alta_inm{
   border: 1px solid black;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;

}

#realizar_busqueda{
    float: right;

}